extends layout

block content
  label input
    textarea(id="input")
    button(id="submit") submit
  br
  label output
    textarea(id="output")
    button(id="clean") clean
  br
  label convert
    textarea(id="cvoutput")
    button(id="convert") convert
  br
  label recandgen
    button(id="recandgen") process
    div(class="sw", id="sw01")
    div(class="sw", id="sw02")
